{% extends 'templateFront.html.twig' %}

{% block title %}Liste des Evenements{% endblock %}
     
{% block body %}
    <h1>Liste des Evenements</h1>

<div class="row">
        {% for evenement in evenements %}
           
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{{asset('front/img/blog/blog-1.jpg')}}" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o px-2"></i>{{ evenement.date }}</li>
                                <li><i class="fa fa-comment-o px-2 "></i> {{ evenement.nbPlace }} Places left</li>
                            </ul>
                            <h5><a href="#">{{ evenement.libelle }}</a></h5>
                            <h3>{{ evenement.duree }} hours hosted at {{ evenement.emplacement }}</h3>
                            <p>{{ evenement.description }}</p>
                            <div> <button class="btn btn-primary">Order now </button></div>
                        </div>
                    </div>
                </div>
                
            
        {% else %}
           
               <div>no events found</div>
            
        {% endfor %}
        </div>
   
{% endblock %}


